<%= form_for @presence do |form| %>
  <div class="field" hidden="">
    <%= form.label :checkout %>
    <%= form.datetime_select :checkout %>
  </div>

  <div class="actions">
    <%= form.submit :Checkout %>
  </div>
<% end %>